<aside class="sidebar">
    <nav class="menu">
        <!-- 프로그래밍 언어 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-code"></i>
                <span>프로그래밍 언어</span>
            </div>
            <a href="download-java.html" class="menu-item" data-page="download-java.html">
                <i class="fa-brands fa-java menu-icon"></i>
                <span class="menu-name">Java</span>
            </a>
            <a href="download-kotlin.html" class="menu-item" data-page="download-kotlin.html">
                <i class="fa-solid fa-k menu-icon"></i>
                <span class="menu-name">Kotlin</span>
            </a>
        </div>

        <!-- 프레임워크 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-layer-group"></i>
                <span>프레임워크</span>
            </div>
            <a href="download-spring.html" class="menu-item" data-page="download-spring.html">
                <i class="fa-solid fa-mug-hot menu-icon"></i>
                <span class="menu-name">Spring Boot</span>
            </a>
            <a href="download-jsp.html" class="menu-item" data-page="download-jsp.html">
                <i class="fa-solid fa-file-code menu-icon"></i>
                <span class="menu-name">JSP</span>
            </a>
        </div>

        <!-- 데이터베이스 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-database"></i>
                <span>데이터베이스</span>
            </div>
            <a href="download-mysql.html" class="menu-item" data-page="download-mysql.html">
                <i class="fa-solid fa-database menu-icon"></i>
                <span class="menu-name">MySQL</span>
            </a>
            <a href="download-mongodb.html" class="menu-item" data-page="download-mongodb.html">
                <i class="fa-solid fa-leaf menu-icon"></i>
                <span class="menu-name">MongoDB</span>
            </a>
        </div>

        <!-- 아키텍처 & 설계 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-sitemap"></i>
                <span>아키텍처 & 설계</span>
            </div>
            <a href="download-api.html" class="menu-item" data-page="download-api.html">
                <i class="fa-solid fa-book-open menu-icon"></i>
                <span class="menu-name">API</span>
            </a>
            <a href="download-oop.html" class="menu-item" data-page="download-oop.html">
                <i class="fa-solid fa-cubes menu-icon"></i>
                <span class="menu-name">OOP</span>
            </a>
            <!-- <a href="download-systemDesignInterview.html" class="menu-item" data-page="download-systemDesignInterview.html">
                <i class="fa-solid fa-diagram-project menu-icon"></i>
                <span class="menu-name">대규모 시스템 설계</span>
            </a> -->
        </div>

        <!-- 인프라 & 도구 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-wrench"></i>
                <span>인프라 & 도구</span>
            </div>
            <a href="download-linux.html" class="menu-item" data-page="download-linux.html">
                <i class="fa-brands fa-linux menu-icon"></i>
                <span class="menu-name">Linux</span>
            </a>
            <a href="download-kafka.html" class="menu-item" data-page="download-kafka.html">
                <i class="fa-solid fa-stream menu-icon"></i>
                <span class="menu-name">Kafka</span>
            </a>
            <a href="download-network.html" class="menu-item" data-page="download-network.html">
                <i class="fa-solid fa-network-wired menu-icon"></i>
                <span class="menu-name">Network</span>
            </a>
        </div>

        <!-- 테스팅 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-flask"></i>
                <span>테스팅</span>
            </div>
            <a href="download-junit.html" class="menu-item" data-page="download-junit.html">
                <i class="fa-solid fa-vial menu-icon"></i>
                <span class="menu-name">JUnit</span>
            </a>
            <a href="download-exception.html" class="menu-item" data-page="download-exception.html">
                <i class="fa-solid fa-shield-halved menu-icon"></i>
                <span class="menu-name">예외처리 핸드북</span>
            </a>
        </div>

        <!-- 실습 코드 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-brands fa-github"></i>
                <span>실습 코드</span>
            </div>
            <a href="jm-github.html" class="menu-item" data-page="jm-github.html">
                <i class="fa-brands fa-github menu-icon"></i>
                <span class="menu-name">GitHub 리포지토리</span>
            </a>
        </div>

        <!-- 프로젝트 -->
        <div class="menu-group">
            <div class="menu-group-title">
                <i class="fa-solid fa-rocket"></i>
                <span>프로젝트</span>
            </div>
            <a href="https://senior-citizen-app-841691750528.asia-northeast3.run.app/" target="_blank" class="menu-item" data-page="senior-center-search">
                <img src="svg/senior-center-search.svg" alt="Senior Center Search" class="menu-icon" style="width: 1.25rem; height: 1.25rem;">
                <span class="menu-name">경로당 찾기</span>
            </a>
        </div>
        
        <!-- 주석처리된 메뉴들 -->
        <!-- <a href="download-graphql.html" class="menu-item" data-page="download-graphql.html">
            <i class="fa-solid fa-diagram-project menu-icon"></i>
            <span class="menu-name">GraphQL</span>
        </a> -->
        
        <!-- <a href="download-grpc.html" class="menu-item" data-page="download-grpc.html">
            <i class="fa-solid fa-bolt menu-icon"></i>
            <span class="menu-name">gRPC</span>
        </a> -->
        
        <!-- <a href="download-docker.html" class="menu-item" data-page="download-docker.html">
            <i class="fa-brands fa-docker menu-icon"></i>
            <span class="menu-name">Docker</span>
        </a> -->
        
        <!-- <a href="download-aws.html" class="menu-item" data-page="download-aws.html">
            <i class="fa-brands fa-aws menu-icon"></i>
            <span class="menu-name">AWS</span>
        </a> -->
        
        <!-- <a href="download-modern-java.html" class="menu-item" data-page="download-modern-java.html">
            <i class="fa-brands fa-java menu-icon"></i>
            <span class="menu-name">Modern Java</span>
        </a> -->
        
        <!-- <a href="download-design-pattern.html" class="menu-item" data-page="download-design-pattern.html">
            <i class="fa-solid fa-paintbrush menu-icon"></i>
            <span class="menu-name">Design Pattern</span>
        </a> -->
        
        <!-- <a href="download-algorithm.html" class="menu-item" data-page="download-algorithm.html">
            <i class="fa-solid fa-code-branch menu-icon"></i>
            <span class="menu-name">Algorithm</span>
        </a> -->
        
        <!-- <a href="download-data-structure.html" class="menu-item" data-page="download-data-structure.html">
            <i class="fa-solid fa-sitemap menu-icon"></i>
            <span class="menu-name">Data Structure</span>
        </a> -->
        
        <!-- <a href="download-git.html" class="menu-item" data-page="download-git.html">
            <i class="fa-brands fa-git-alt menu-icon"></i>
            <span class="menu-name">Git</span>
        </a> -->
        
        <!-- <a href="download-redis.html" class="menu-item" data-page="download-redis.html">
            <i class="fa-solid fa-database menu-icon"></i>
            <span class="menu-name">Redis</span>
        </a> -->
    </nav>
</aside>